{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        // 从 <roo/>@types 读取类型定义
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".tsx"] }],
    "arrow-parens": ["error", "as-needed"],
    "no-shadow": 0,
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "never",
        "functions": "never"
      }
    ],
    "import/extensions": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["vite.config.ts"] }
    ],
    "import/prefer-default-export": 0,
    "import/no-unresolved": "off",
    "object-curly-newline": 0,
    "react/react-in-jsx-scope": "off",
    "react/jsx-no-bind": "off",
    "no-use-before-define": "off",
    "no-restricted-syntax": "off",
    "no-nested-ternary": "off",
    "react/no-unstable-nested-components": "off",
    "no-confusing-arrow": "off",
    "implicit-arrow-linebreak": "off",
    "react/jsx-curly-newline": "off",
    "no-inner-declarations": "off",
    "no-unused-vars": "off"
  }
}
